{% extends "base.html" %}
{% block body_id %}mainpage_id{% endblock %}
{% block body_class %}mainpage_class{% endblock %}


{% block left %}
<div class="cell persone persone_main">
	<p>{{firstname|title}}</p>
	<p>{{lastname|title}}</p>
	<p>{{birthdate}}</p>
</div>
<div class="cell contacts">
	<h3>Contacts</h3>
	<p><b>Jabber: </b>{{jabber}}</p>
	<p><b>Email: </b>{{email}}</p>
	<p><b>Skype: </b>{{skype}}</p>
</div>
{% endblock %}


{% block right %}
<div class="cell bio">
	<h3>Bio</h3>
	<div class="multiline">{{bio}}</div>
</div>
{% if other_contacts %}
<div class="cell ad_contacts">
	<h3>Other contacts</h3>
	<div class="multiline">{{other_contacts}}</div>
</div>
{% endif %}
{% endblock %}
